body{
  margin:0;
  font-family:Arial;
  background:#0b0f19;
  color:#fff;
}

header{
  padding:15px;
  background:#121828;
  display:flex;
  justify-content:space-between;
}

button{
  background:#e50914;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card{
  background:#1b2236;
  padding:30px;
  border-radius:12px;
  width:300px;
}

.login-card input{
  width:100%;
  padding:8px;
  margin-bottom:10px;
}

.admin-form input{
  margin:5px;
  padding:6px;
}
